<app-header>


  <mat-card>
    <mat-card-header>
      <mat-toolbar>
        <button mat-icon-button (click)="prevMonth()">
          <mat-icon>arrow_left</mat-icon>
        </button>
        <span>{{ getMonthYear() }}</span>
        <button mat-icon-button (click)="nextMonth()">
          <mat-icon>arrow_right</mat-icon>
        </button>
      </mat-toolbar>
    </mat-card-header>
    <mat-card-content>

      <div class="calendar-container">
        <table>
          <thead>
            <tr>
              <th *ngFor="let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">{{ day }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let week of weeks">
              <td *ngFor="let day of week" [class.today]="isToday(day)" (dragover)="allowDrop($event)"
                (drop)="onDrop($event, day)">
                <div class="date-container">
                  <span class="date">{{ formatDate(day) }}</span>
                  <button class="add-btn" (click)="addEvent(day)">+</button>
                  <div *ngIf="events[day.toDateString()]?.length" class="events-list1">
                    <div *ngFor="let event of events[day.toDateString()]" class="events-list" draggable="true"
                      (dragstart)="onDragStart($event, event)">

                      <div >

                        <div class="ev-title">
                          <small>{{ event.title }}</small>
                          <p>{{event.startTime}} - {{event.endTime}}</p>
                        </div>

                        <div class="slsl">
                          <button mat-icon-button (click)="editEvent(day, event)">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button (click)="removeEvent(day, event)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>


                      </div>



                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </mat-card-content>
  </mat-card>



</app-header>