<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="false">
      <mat-nav-list>
        <mat-list-item>Item 1</mat-list-item>
        <mat-list-item>Item 2</mat-list-item>
        <mat-list-item>Item 3</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My To-Do App</span>
      </mat-toolbar>
      <div class="content">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  